# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Output folders (optional)
images/
results/

# macOS files
.DS_Store

# Environment files
.env

